<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Project_s3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testconnect</display-name>
    <servlet-name>testconnect</servlet-name>
    <servlet-class>test_connexion_db.testconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testconnect</servlet-name>
    <url-pattern>/testconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inscription</display-name>
    <servlet-name>inscription</servlet-name>
    <servlet-class>servlets.inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connexion</display-name>
    <servlet-name>connexion</servlet-name>
    <servlet-class>servlets.connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestion_utilisateur</display-name>
    <servlet-name>gestion_utilisateur</servlet-name>
    <servlet-class>servlets.gestion_utilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestion_utilisateur</servlet-name>
    <url-pattern>/gestion_utilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listeMedecins</display-name>
    <servlet-name>listeMedecins</servlet-name>
    <servlet-class>servlets.listeMedecins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeMedecins</servlet-name>
    <url-pattern>/listeMedecins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fixer_rdv</display-name>
    <servlet-name>fixer_rdv</servlet-name>
    <servlet-class>servlets.fixer_rdv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fixer_rdv</servlet-name>
    <url-pattern>/fixer_rdv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rdvs</display-name>
    <servlet-name>rdvs</servlet-name>
    <servlet-class>servlets.rdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rdvs</servlet-name>
    <url-pattern>/rdvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmation_rdv</display-name>
    <servlet-name>confirmation_rdv</servlet-name>
    <servlet-class>servlets.confirmation_rdv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmation_rdv</servlet-name>
    <url-pattern>/confirmation_rdv</url-pattern>
  </servlet-mapping>
</web-app>